@font-face {
  font-family: 'CascadiaCode';
  src: url('/css/font/microsoft/cascadia-code/CascadiaCode.ttf') format('truetype'), url('/css/font/microsoft/cascadia-code/CascadiaCode.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
